<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/koala-sleeping.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      CocoaSlot
    </a>
    <button>
      <img class="avatar rounded-circle bg-dark" src="https://cdn.myanimelist.net/images/characters/11/319996.jpg"
      alt="">
      <span class="ms-2">จิรายุ วศก.4</span>
    </button>
  </div>
</nav>
<router-outlet></router-outlet>
