<div class="container">
  <div class="input-group my-3">
    <input type="text" class="form-control" placeholder="search what do you want!" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-warning" type="button" id="button-addon2">Search</button>
  </div>

  <table class="table table-hover">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Status</th>
        <th scope="col">Mem</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-success">
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>A0</td>
        <td>red</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>A1</td>
        <td>red</td>
      </tr>
      <tr class="table-danger">
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>C1</td>
        <td>red</td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>
